body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
  }
  
 
  .logo {
    width: 100px;
    height: auto;
  }
  
  main {
    
    display: flex;
    flex-direction: column;
    gap:10px;
  }
  
  
  @media (min-width: 428px) {
    .logo {
      width: 80px;
    }

    main{
        padding: 0px;
    }

    .info{
        display: flex;
        flex-direction: column;
        gap:20px;
        padding: 0px;
        padding: 20px;
    
    }

    .info h2 {
        background-color: black;
        color: rgb(196, 194, 194);
        text-align: center;
        padding: 10px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
    }

    .info .data {
        display:flex;
        flex-direction: column;
        gap: 20px;
    }

    .uade{
        object-fit: cover;
        
        width: 100%;
  

    }

    div p {
        background-color: rgba(2, 2, 2, 0.478);
        padding: 7px;
        color: rgb(196, 194, 194);
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;

    }

    .uade h2 {
        background-color: black;
        color: rgb(196, 194, 194);
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        text-align: center;
        padding: 5px;

    }

    .img-container {
        width: 100%;
        max-width: 1240px;
        margin: 0 auto;
        overflow: hidden; 
        height: 300px;
       
        
      }
      
      .img-container img{
        width: 100%; /* La imagen ocupa todo el ancho del contenedor */
        height: 100%; /* Mantiene la proporción de la imagen */
        display: block;
        object-fit: cover; /* Escala la imagen para que llene el contenedor manteniendo la relación de aspecto */
        object-position: center; /
      }
     

  }
  
 
  @media (min-width: 768px) {

    

    .logo {
      width: 120px;
    }

    .info{
        display: flex;
        flex-direction: column;
        gap:20px;
    }

    .info h2 {
        padding: 20px;
        font-size: 30px;
    }

    .info .data {
        display:flex;
        flex-direction: column;
        gap: 20px;
    }

    .uade{
        padding: 5px;
    }

    div p {
        padding: 15px;
        font-size: 20px;

    }

    .uade h2 {
        padding: 20px;

    }

    .img-container {
        width: 100%;
        max-width: 1240px;
        margin: 0 auto;
        overflow: hidden; 
        height: 400px;
       
        
      }
      
      .img-container img {
        width: 100%;
        height: 100%; 
        display: block; 
      }



  }
  
 
  @media (min-width: 1024px) {
    .logo {
      width: 150px;
    }

    main {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .info{
        text-align: center;
        width: 50%;
    }

    .uade {
        width: 100%;
         /* La sección ocupa todo el ancho de la pantalla */
    }
    
    .img-container {
        width: 100%; /* El contenedor ocupa todo el ancho de la pantalla */
        height: 500px; /* Altura fija de 300px */
        overflow: hidden; /* Oculta cualquier contenido que exceda el contenedor */
        margin: 0px;
        max-width: 2000px;
    }
    
    .img-container img {
        width: 100%; /* La imagen ocupa todo el ancho del contenedor */
        height: 100%; /* Mantiene la proporción de la imagen */
        display: block; /* Elimina cualquier espacio en línea */
        object-fit: cover; /* Ajusta la imagen para cubrir el contenedor */
        object-position: 50% 50%; /* Posiciona la imagen en el centro del contenedor */
    }

    
  }